@charset "UTF-8";


#login {
    /*float: right;*/
    width: 765px;
    display: block;
    height: 367px;
}

#img {
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

form > div {
    float: right;
    width: 68%;
}

#ent {
    float: right;
    width: 68%;
    margin: 7px;
}


body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}