@charset "UTF-8";

/*
    paleta:
    verde: #49a09d
    lilás: #5f2c82
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

#img {
    display: block;
    background: url(imagens/back-print.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

#txt {
    position: relative;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#ent {
    position: relative;
    display: block;
    font-size: 1em;
    width: 94%;
    height: 40px;
    background-color: #49a09d;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    color: white;
    border-color: white;
}

#ent:hover {
    background-color: #2d6462;
}

a {
    display: inline;
    width: 100%;
    margin: 10px;
}

form > div {
    background-color: #5f2c82;
    display: block;
    width: 94%;
    height: 40px;
    border-radius: 8px;
    margin: 2px 7px;
    border: solid #5f2c82 3px;
}

label {
    display: none;
}

i {
    color: white;
    font-size: 3em;
    width: 40px;
    padding: 5px;
}

form > div > input {
    background-color: #94cfcd;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44px);
    border-radius: 8px;
    border: 0px;
    padding: 4px;
    transform: translateY(-7px);
}