@charset "UTF-8";

#login {
    width: 90vw;
    float: right;
    width: 70%;
}

#img {
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 15px 0px 0px 15px;
}

body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}